@import 'constants';
@import 'hex';

.album-list-container {
  @extend %max-width;
  margin-bottom: 20px;

  @include breakpoint(mb) {
    @extend %max-width-mobile;
  }
}

.album-list {
  display   : flex;
  flex-wrap : wrap;
}

.albums {
    max-width : 600px;
    margin    : 0 auto;
}

.album {
  position      : relative;
  float         : left;
  overflow      : hidden;
  width         : 28%;
  margin        : $albumMargin;
  border-bottom : 3px solid #000;

  &.insta {
    border-top : 3px solid #000;
    border-bottom : 3px solid #000;
  }

  &:hover {
    .album__hover {
      transform: translateY(0);
    }
  }

  @include breakpoint(mb) {
    width: 100%;
    margin: 0 auto 30px;

    &.insta {
      height: 0;
      padding-bottom: 70%;
    }
  }
}

.album__hover {
  @include flex-center-parent;
  position         : absolute;
  top              : 0;
  left             : 0;
  width            : 100%;
  height           : 100%;
  transition       : transform .33s;
  transform        : translateY(100%);
  background-color : rgba($orange,.5);
}


.album__desc {
  @include flex-center-child;
  letter-spacing : 3px;
  text-transform : uppercase;
  color          : #fff;
  font-size      : 36rem;
  font-weight    : $fontWeightBlack;

  @include breakpoint(mb){
    font-size: 28rem;
  }
}

.album__thumbnail {
  margin-bottom : 15px;
}

.album__title {
  float          : left;
  margin-bottom  : 6px;
  text-transform : uppercase;
  font-size      : 12rem;
  font-weight    : $fontWeightBold;
  line-height    : 1;
}

.album__count {
  float     : right;
  font-size : 10rem;
}

.album-insta-link {
  @include flex-center-parent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2;
  text-transform: uppercase;

  span {
    @include flex-center-child;
    padding-bottom: 5%;

    @include breakpoint(mb){
      padding-bottom: 0;
    }
  }
}
