@import 'constants';
@import 'hex';

footer {
    margin-top: 20px;
}

.hex-footer {
  @include flex-center-parent;
  width: 100%;
  height: 120px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

.hex-message {
  @include flex-center-child;
  font-size: 12rem;
  letter-spacing: 2px;
}

.hex-heart {
  position: relative;
  display: inline-block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../images/heart.png') center center no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}


.gallery__footer-next {
  background-color: $footerRed;
  padding: 50px 0;
  text-align: center;
}


.gallery__footer-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: $fontWeightBold;
}
