@import 'constants';
@import 'hex';

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hex-footer {
  @include flex-center-parent;
  width            : 100%;
  height           : $footerHeight;
  text-transform   : uppercase;
  color            : #fff;
  background-color : #000;
}

.hex-message {
  @include flex-center-child;
  letter-spacing : 2px;
  font-size      : 10rem;
}

.hex-heart {
  position        : relative;
  display         : inline-block;
  width           : 12px;
  height          : 12px;
  vertical-align  : middle;
  color           : transparent;
  border          : 0;
  background      : url('../images/heart.png') center center no-repeat;
  background-size : contain;
  text-shadow     : none;
  font            : 0/0 a;
}


.gallery__footer-next {
  margin-top       : -2px;
  padding          : 80px 0;
  transition       : background-color .33s;
  text-align       : center;
  background-color : $gold;

  @include breakpoint(mb){
    padding: 40px 0;
  }
}

.gallery__footer-link {
  text-transform : uppercase;
  color          : #fff;
  font-size      : 28rem;
  font-weight    : $fontWeightBold;
  outline        : 0;

  @include breakpoint(mb){
    font-size: 24rem;
    line-height: 1;
  }

  &:hover  {
    .gallery__footer-next {
      background-color : $footerRed;
    }
  }
}

.slightly-bigger {
  font-size: 120%;
}
