@import 'constants';
@import 'hex';

header {
  text-transform : uppercase;

  p {
    display   : inline-block;
    font-size : 13rem;

    @include breakpoint(mb) {
      display   : block;
      font-size : 11rem;
    }
  }
  a {
    &:hover {
      text-decoration : underline;
    }
  }
}

.album-page__header {
  @include flex-center-parent;
  position        : relative;
  width           : 100%;
  height          : 275px;
  background      : $creamBg url('../images/header.jpg') center center no-repeat;
  background-size : cover;

  @include breakpoint(mb) {
    height : 200px;
  }
}

.album-page__header-copy {
  @include flex-center-child;
  padding          : 15px 40px;
  border           : 5px solid #000;
  background-color : #fff;
  font-size        : 16rem;

  @include breakpoint(mb) {
    padding   : 15px 20px;
    font-size : 12rem;
  }
}


.album-page__title {
  @extend %max-width;
  position      : relative;
  margin-top    : 25px;
  margin-bottom : 10px;
  line-height   : 1;

  @include breakpoint(mb) {
    @extend %max-width-mobile;
  }
}


.album-page__name {
  display     : inline-block;
  width       : 100px;
  margin-left : $albumMargin;
  font-size   : 42rem;
  line-height : 1;

  @include breakpoint(mb) {
    display       : block;
    width         : 100%;
    margin-bottom : 5px;
    margin-left   : 0;
    text-align    : center;
    font-size     : 28rem;
  }
}


.album-page__details {
  position       : absolute;
  right          : 0;
  bottom         : 5px;
  left           : 110px ;
  margin-left    : $albumMargin;
  letter-spacing : 2px;

  @include breakpoint(mb) {
    position      : relative;
    right         : auto;
    bottom        : auto;
    left          : auto;
    margin-bottom : 15px;
    margin-left   : 0;
    text-align    : center;
  }
}

.album-page__photo-cred {
  float        : right;
  margin-right : $albumMargin;

  @include breakpoint(mb) {
    float        : none;
    margin-right : 0;
  }

}

.gallery__header {
  width         : 100%;
  margin-bottom : -2px;
  padding       : 35px 0 25px;
  border-bottom : 1px solid #000;
}

.gallery__title {
  @extend %max-width;
  text-align  : center;
  font-size   : 38rem;
  line-height : 0.8;
}

.gallery__details {
  @extend %max-width;
  line-height : 1;
}

.gallery__ind-link {
  margin-left : 10px;
}

.gallery__photo-cred {
  float        : right;
  margin-right : 13px;
}
